<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myBlog : Inscription</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../controller/inscription.js"></script>
</head>
<body>

Merci de remplir ce formulaire :
<form method="POST">
    Login : <input type="text" name="username"><br>
    Email : <input type="email" name="email"><br>
    Password : <input type="password" name="password"><br>
    Password : <input type="password" name="verifPassword"><br>
    Lastname : <input type="text" name="lastname"><br>
    Firstname : <input type="text" name="firstname"><br>
    Birthdate : <input type="date" name="birthdate"><br>




    <input type="submit" value="Envoyer">
</form>
<div id="blocErreur"></div>
<div id="blocSuccess"></div>


</body>
</html>