<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myBlog : Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../controleur/login.js"></script>
</head>
<body>

<form method="POST" action="index.html">
    Login : <input type="text" name="username"><br>
    Password : <input type="password" name="password"><br>
    <input type="submit" value="Envoyer">
</form>

<div id="blocErreur"></div>
<div id="blocSuccess"></div>


</body>
</html>